<div class="row">
    <div class="row">
      <div class="col-12 mb-40">
        <h2 class="scvs-btn-back">
          Módulo Gestión de Productos
        </h2>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-lg-right">
        <button ejs-button class="btn btn-primary py-2" type="button" (click)="onCreateStockProducto()">
          Agregar nuevo producto
        </button>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-lg-right">
        <button ejs-button class="btn btn-primary py-2" type="button" (click)="onAddToInventario()">
          Incluir producto
        </button>
      </div>
    </div>

    <div class="row scvs-table-container mt-40">
      <div class="col-12 scvs-title mt-10 mb-10">
        Productos
      </div>

      <div class="col-12 mt-4">
        <ejs-grid
          class="mt-4"
          #grid
          id="gridProductos"
          [toolbar]='toolbarOptions'

          [dataSource]="dataProductos"
          [allowPaging]="true"
          [allowResizing]="true"
          [textWrapSettings]="wrapSettings"
          [pageSettings]="pageSettings"
          [locale]="locale"
          (queryCellInfo)="customizeCellProductos($event)"
          width="95%"
          gridLines="Horizontal"
        >
          <e-columns>
            <e-column field="nombre" width="240" headerText="Nombre del producto" textAlign="middle"></e-column>
            <e-column field="descripcion" width="280" headerText="Descripción" textAlign="middle"></e-column>
            <e-column field="valorUnitario" headerText="Varor c/u" textAlign="middle"></e-column>
            <e-column field="stockMinimo" headerText="Cant. mínima" textAlign="middle"></e-column>
            <e-column field="peso" headerText="peso" textAlign="middle"></e-column>
            <e-column field="altura" headerText="altura" textAlign="middle"></e-column>
            <e-column field="anchura" headerText="anchura" textAlign="middle"></e-column>
            <e-column [allowResizing]="false"   textAlign="Center">
              <ng-template #template let-data>
                <div>
                  <button ejs-button cssClass="btn btn-primary" type="button" title="Ver producto" (click)="onViewStockProducto(data)">
                    Ver
                  </button>
                  <button ejs-button cssClass="btn btn-danger" type="button" title="Eliminar" (click)="onDeleteStockProducto(data)">
                    Eliminar
                  </button>
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>

</div>
